<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}-{$siteIndex.sitename}</title>
<meta name="keywords" content="{$keys}" />
<meta name="description" content="{$description}" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<script src="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script>
<script type="text/javascript">uaredirect("{$siteIndex.mdomain}");</script>
<link href="/view/css/keywords_index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.100dangong.com/static/ccc1/css/style.css"></script>
</head>
<body>
<div id="header"><div id="toolbar"><div class="tool">
     <div class="left fl"><a href="http://m.100dangong.com/" target="_blank">手机访问</a><a href="http://www.100dangong.com/" title ="中国最大胆展阴露B美女图片-厕所偷拍女子露B图片,女人BB的真人图片" target="_blank">中国最大胆展阴露B美女图片-厕所偷拍女子露B图片,女人BB的真人图片</a></div>
	 <div class="right fr">欢迎访问中国最大胆展阴露B美女图片	 <a class="ico-25 fr" href="javascript:vod(0);" onclick="window.location.href='/shortcut.php?shortname=中国最大胆展阴露B美女图片-厕所偷拍女子露B图片,女人BB的真人图片100dangong.com&amp;url=' + location.href;">保存到桌面</a></div>
</div></div>

<div id="adtop"></div>
<script type="text/javascript" src="/view/js/content.js"></script>
<div class="act_main">
<div class="art_top">
<div class="art_sonav">
<p><a target="_blank" href="{$siteIndex.domain}"><img alt="{$siteIndex.sitename}" title="{$siteIndex.sitename}" src="/view/images/logo.gif"></a></p>
<ul>
<!--<li class="soline"><a href="" target="_blank"></a></li>-->
</ul>
</div>
<div class="artlt">
<div class="list_title">
<a href="/keywords_list.php" target="_blank">{$keywords[0]}</a>
</div>
<div style="clear:both"></div>
<div class="main_box" style="margin-bottom:11px;">
<div style="padding-bottom: 10px" class="text_box">
<ul>
{foreach from=$keywordsListLinks item=v}
<li><a href="{$v.link}" target="_blank" title="{$v.name}">{$v.name}</a></li>
{/foreach}
{foreach from=$keywordsRandIndexLinks item=v}
<li><a href="{$v.link}" target="_blank" title="{$v.name}">{$v.name}</a></li>
{/foreach}
</ul>
</div>
</div>
<div style="clear:both"></div>
<div class="badoo" style="float:right;">

</div>
<div class="clear"></div>         
</div>
<div class="art_right">
<div class="art_col">	
<div class="rigtit">搜索{$siteIndex.sitename}的人还搜索了</div>
<div class="brtg wlady">
<ul>
{foreach from=$keywordsRandInfo item=v}
<li><a target="_blank" href="/keywords_list.php?page={php}echo rand(1,100);{/php}" title="{$v.keyword}">{$v.keyword}</a></li>
{/foreach}
</ul>
<div class="clear8"></div>
</div>
</div>
<div class="clear8"></div>
<div class="art_col">	
<div class="rigtit">{$siteIndex.sitename}相关资料</div>
<div class="brtg wlady">
<ul>
{foreach from=$keywordsRandInfo2Links item=v}
<li><a target="_blank" href="{$v.link}" title="{$v.name}">{$v.name}</a></li>
{/foreach}
</ul>
<div class="clear8"></div>
</div>
</div>
<div class="clear8"></div>
<div class="art_col">	
<div class="rigtit">{$siteIndex.sitename}相关搜索</div>
<div class="brtg wlady">
<ul>
{foreach from=$linksView item=v}
<li><a target="_blank" href="{$v.link}" title="{$v.name}">{$v.name}</a></li>
{/foreach}
</ul>
<div class="clear8"></div>
</div>
</div>
<div class="clear8"></div>
<div class="art_col">	
<div class="rigtit">友情链接</div>
<div class="brtg wlady">
{foreach from=$linkIndex item=v}
<a target="_blank" href="{$v.host}" title="{$v.sitename}">{$v.sitename}</a>
{/foreach}
<div class="clear8"></div>
</div>
</div>


</div>
<div style="height:10px; clear:both"></div>
<div class="art_bottom" style="width:950px; margin:0 auto;">
    <p>  Copyright <font>&copy;</font> 2010-2016 <a href="{$siteIndex.domain}" target="_blank">{$siteIndex.sitename}</a>&nbsp;<a href="{$siteIndex.mdomain}" target="_blank">手机版</a> 版权所有</p>
</div>
</div>
</div>
<script>share2();</script>
<div style="display:none"><script>tongji();</script></div>
</body>
</html>