{*这里是包含的头部模板*}
{include file="lib/header.html"}
    <div class="nav_min_div" id="min_div">
        <img src="view/images/top_min.jpg">
    </div>
    <div id="body">
        <div class="body_l">
            <div class="subsearch">
                <form id="searchForm" name="searchForm" method="get" action="search.php"
                onSubmit="return checkSearchForm()">
                    <div>
                        <input name="keywords" type="text" id="keyword" value="" class="searchmobile">
                        <button class="menu_button" name="menu_button" onClick="return checkSearchForm()">
                        </button>
                    </div>
                </form>
            </div>
            <script type="text/javascript">
                {literal}
                < !--
                function checkSearchForm() {
                    if (document.getElementById('keyword').value) {
                        document.searchForm.submit();
                        return true;
                    } else {
                        alert("请输入搜索关键词！");
                        return false;
                    }
                }-->
                {/literal}
            </script>
            <div class="subnav_header">
            </div>
            <script type="text/javascript">
                {literal}
            function menu_c(o) {
                alert(o.getElementsByTagName('ul').length);
            }
            </script>
                {/literal}
            {include file="lib/nav.html"}
            <div class="subinfo_header">
                <div class="left subinfo_header_left">
                    <a href="#">
                    </a>
                </div>
                <!--<div class="right subinfo_header_right"><a href="#">更多</a></div>-->
            </div>
            <div class="subinfo_body">
                <ul>
                    <li style="width:175px; overflow:hidden">
                        <a href="#" title="很好，我很喜欢" style="color:#333333">
                            很好，我很喜欢
                        </a>
                        <br />
                        <a style="color:#333333">
                            ecshop
                        </a>
                    </li>
                </ul>
            </div>
            <div class="subinfo_footer">
            </div>
            <div class="subinfo_header">
                <div class="subinfo_header_left_top10">
                    &nbsp;
                    <a href="#">
                    </a>
                </div>
            </div>
            <div class="subinfo_body_top10">
                <ul>
                    <li>
                        <div class="subinfo_body_top10_l">
                            <a href="#">
                                <img src="view/images/17_thumb_P_1241969394537.jpg" alt=""
                                class="samllimg" />
                            </a>
                        </div>
                        <div class="subinfo_body_top10_r">
                            <p class="subinfo_body_top10_r_1">
                                <a href="#">HTC Z710e 3G手机（灰色）WCDMA/GSM 联通定制</a>
                            </p>
                            <p class="subinfo_body_top10_r_3">
                                ￥68元
                            </p>
                        </div>
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <div class="subinfo_body_top10_l">
                            <a href="#">
                                <img src="view/images/17_thumb_P_1241969394537.jpg" alt=""
                                class="samllimg" />
                            </a>
                        </div>
                        <div class="subinfo_body_top10_r">
                            <p class="subinfo_body_top10_r_1">
                                <a href="#">HTC Z710e 3G手机（灰色）WCDMA/GSM 联通定制</a>
                            </p>
                            <p class="subinfo_body_top10_r_3">
                                ￥68元
                            </p>
                        </div>
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <div class="subinfo_body_top10_l">
                            <a href="#">
                                <img src="view/images/17_thumb_P_1241969394537.jpg" alt=""
                                class="samllimg" />
                            </a>
                        </div>
                        <div class="subinfo_body_top10_r">
                            <p class="subinfo_body_top10_r_1">
                                <a href="#">HTC Z710e 3G手机（灰色）WCDMA/GSM 联通定制</a>
                            </p>
                            <p class="subinfo_body_top10_r_3">
                                ￥68元
                            </p>
                        </div>
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <div class="subinfo_body_top10_l">
                            <a href="#">
                                <img src="view/images/17_thumb_P_1241969394537.jpg" alt=""
                                class="samllimg" />
                            </a>
                        </div>
                        <div class="subinfo_body_top10_r">
                            <p class="subinfo_body_top10_r_1">
                                <a href="#">HTC Z710e 3G手机（灰色）WCDMA/GSM 联通定制</a>
                            </p>
                            <p class="subinfo_body_top10_r_3">
                                ￥68元
                            </p>
                        </div>
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <div class="subinfo_body_top10_l">
                            <a href="#">
                                <img src="view/images/17_thumb_P_1241969394537.jpg" alt=""
                                class="samllimg" />
                            </a>
                        </div>
                        <div class="subinfo_body_top10_r">
                            <p class="subinfo_body_top10_r_1">
                                <a href="#">HTC Z710e 3G手机（灰色）WCDMA/GSM 联通定制</a>
                            </p>
                            <p class="subinfo_body_top10_r_3">
                                ￥68元
                            </p>
                        </div>
                        <div class="clear">
                        </div>
                    </li>
                    <li>
                        <div class="subinfo_body_top10_l">
                            <a href="#">
                                <img src="view/images/17_thumb_P_1241969394537.jpg" alt=""
                                class="samllimg" />
                            </a>
                        </div>
                        <div class="subinfo_body_top10_r">
                            <p class="subinfo_body_top10_r_1">
                                <a href="#">HTC Z710e 3G手机（灰色）WCDMA/GSM 联通定制</a>
                            </p>
                            <p class="subinfo_body_top10_r_3">
                                ￥68元
                            </p>
                        </div>
                        <div class="clear">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="subinfo_footer">
            </div>
            <div class="submessage_header">
                &nbsp;
            </div>
            <div class="submessage_body">
                <a href="#" target="_blank">
                    <img src="view/images/message.gif">
                </a>
            </div>
            <div class="subinfo_footer">
            </div>
        </div>
        <div class="body_r" style=" display:inline">
            <div class="mainbig">
                <img src="view/images/banner.jpg" />
            </div>
            <div class="clear">
            </div>
            <div class="mainheader">
                <div class="weekbuy">
                    <a href="search.php?intro=new">
                        更多&gt;&gt;
                    </a>
                </div>
            </div>
            <ul class="productlist">
                {foreach from=$best item=v}
                <li>
                    <a href="goods.php?goods_id={$v.goods_id}">
                        <img src="{$v.thumb_img}" alt="{$v.goods_name}" />
                    </a>
                    <p class="pname">
                        <a href="goods.php?goods_id={$v.goods_id}" title="{$v.goods_name}">
                            {$v.goods_name}
                        </a>
                    </p>
                    <p class="price">
                        ￥{$v.shop_price}元
                    </p>
                </li>
                {/foreach}
            </ul>
            <div class="clear"></div>
            <div class="mainheader">
                <div class="lowerbuy">
                    <a href="search.php?intro=new">
                        更多&gt;&gt;
                    </a>
                </div>
            </div>
            <ul class="productlist">
                {foreach from=$hot item=v}
                <li>
                    <a href="goods.php?goods_id={$v.goods_id}">
                        <img src="{$v.thumb_img}" alt="{$v.goods_name}" />
                    </a>
                    <p class="pname">
                        <a href="goods.php?goods_id={$v.goods_id}" title="{$v.goods_name}">
                            {$v.goods_name}
                        </a>
                    </p>
                    <p class="price">
                        ￥{$v.shop_price}元
                    </p>
                </li>
                {/foreach}
            </ul>
            <div class="clear"></div>
            <div class="mainheader">
                <div class="newproduct">
                    <a href="search.php?intro=new">
                        更多&gt;&gt;
                    </a>
                </div>
            </div>
            <ul class="productlist">
                {foreach from=$new item=v}
                <li>
                    <a href="goods.php?goods_id={$v.goods_id}">
                        <img src="{$v.thumb_img}" alt="{$v.goods_name}" />
                    </a>
                    <p class="pname">
                        <a href="goods.php?goods_id={$v.goods_id}" title="{$v.goods_name}">
                            {$v.goods_name}
                        </a>
                    </p>
                    <p class="price">
                        ￥{$v.shop_price}元
                    </p>
                </li>
                {/foreach}
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    </div>
{include file="lib/footer.html"}





