<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$keywordInfo.keyword},{$mykeys[0]},{$mykeys[1]}</title>
<meta name="keywords" content="{$keywordInfo.keyword},{$mykeys[0]},{$mykeys[1]},{$mykeys[2]}" />
<meta name="description" content="{$keywordInfo.keyword}为你提供{$mykeys[0]}和{$mykeys[1]}相关内容,精选{$mykeys[2]}视频,{$mykeys[3]}图片,{$mykeys[4]}资料等." />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<script src="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script>
<script type="text/javascript">uaredirect("{$siteIndex.mdomain}{$keywordInfoLink.link}");</script>
<link href="/view/css/keywords_index1.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/view/js/news1.js"></script>
</head>
<body>
	<div id="header"><div id="toolbar">
	 <div class="tool">
      <div class="left fl"><a href="{$siteIndex.mdomain}" target="_blank">手机访问</a><a href="{$siteIndex.domain}" title ="{$keys}" target="_blank">{$title}-{$siteIndex.sitename}</a></div>
	  <div class="right fr">欢迎访问{$keywordInfo.keyword}</div>
     </div>
	</div>
	<div class="head">
		<div class="logo fl"><a href="{$siteIndex.domain}"><img src="/view/images/index.png" width='280' height='60' alt='{$title}-{$siteIndex.sitename}'></a></div>
		<div class="left fr">
			<div class="search fl"></div>
			<div class='right fr'><a class="s-weibo" href="javascript:vod(0);" title="关注新浪微博" onclick="s_weibo()"></a><a class="t-weibo" href="javascript:vod(0);" title="关注腾讯微博" onclick="t_weibo()"></a><a class="i-qzone" href="javascript:vod(0);" title="关注认证空间" onclick="qzone()"></a><a class="i-marks" href="javascript:vod(0);" title="加入收藏夹" onclick="favorites('{$title}-{$siteIndex.sitename}',location.href)"></a></div>
			
			<div class="cl"></div>
		</div>
	</div>
	<div class="nav"><ul>
     <li><a class="ico-01" href="{$siteIndex.domain}" title='{$title}-{$siteIndex.sitename}'>首页</a></li>
     	 <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("生物世界"){/php}'>生物世界</a></li>
	 	 <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("美女背影"){/php}'>美女背影</a></li>
	 	 <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("金融货币"){/php}'>金融货币</a></li>
	 	 <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("科学研究"){/php}'>科学研究</a></li>
	 	 <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("生活百科"){/php}'>生活百科</a></li>
	 	 <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("移门图案"){/php}'>移门图案</a></li>
	 	 <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("清纯美女"){/php}'>清纯美女</a></li>
	 	 <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("职业人物"){/php}'>职业人物</a></li>
	 	 <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("韩文模板"){/php}'>韩文模板</a></li>
	 	 <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("背景底纹"){/php}'>背景底纹</a></li></ul>
</div>
	
	<div class="subnav" >
		<div class="ad1012">
			<script src="/view/js/960-3.js"></script>
		</div>
	</div>
	
	<div class="subnav"><ul>
     <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("美女搭配"){/php}'>美女搭配</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("美女动态"){/php}'>美女动态</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("美女排行"){/php}'>美女排行</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("美女排行"){/php}'>美女排行</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("电脑网络"){/php}'>电脑网络</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("节日庆祝"){/php}'>节日庆祝</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("游戏界面"){/php}'>游戏界面</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("海洋生物"){/php}'>海洋生物</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("美女图片"){/php}'>美女图片</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("精选高清"){/php}'>精选高清</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("生活用品"){/php}'>生活用品</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("美女真实"){/php}'>美女真实</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("艺术图片"){/php}'>艺术图片</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode(街拍美女){/php}'>街拍美女</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("环境设计"){/php}'>环境设计</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("老年人物"){/php}'>老年人物</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("自然景观"){/php}'>自然景观</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("花草图片"){/php}'>花草图片</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("邪恶漫画"){/php}'>邪恶漫画</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("相框模板"){/php}'>相框模板</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("男性男人"){/php}'>男性男人</a></li>
	      <li><a href='/keywords_list.php?page={php}echo rand(1,100);{/php}&name={php}echo urlencode("男星图片"){/php}'>男星图片</a></li>
	 	</ul>
</div>

	<!--第二个通栏广告开始-->
	<div class="subnav" >
	<div class="ad1012">
	<script src="/view/js/960-1.js"></script>
	</div>
	</div>
	<!--第二个通栏广告结束-->


	<!--第三个通栏广告开始-->
	<div class="subnav" >
	<div class="ad1012">
	<script src="/view/js/960-4.js"></script>
	</div>
	</div>
	<!--第三个通栏广告结束-->
	<div class="container list_repeat">
		<div class="container-bd list_top">
			<div class="main-wrap">
				<div class="article-left">
					<div class="title"><h3>当前位置</h3>：<a href='{$siteIndex.domain}' title='{$title}-{$siteIndex.sitename}'>首页</a> > {$keywordInfo.keyword}</div>
					<div class="list-item">
						<div class="content">
							<div class="_title"><h1>{$keywordInfo.keyword} {$mykeys[0]}</h1></div>
							<div class="info">
							 <span><i class="ico-20"></i>来源: <a href="{$keywordInfoLink.link}" target="_blank" title="{$keywordInfoLink.name}">{$keywordInfoLink.name}</a></span>
							 <span><i class="ico-21"></i>时间{$smarty.now|date_format:'%Y-%m-%d '}</span>
							</div><!-- info -->
							<div class="article shige">
								<div id="zoomtext">

								<!--第一个左半幅广告开始-->	 
								<div class='desc'><script src="/view/js/650-1.js"></script></div>
								<!--第一个左半幅广告结束-->
								<div id="articleContent" class="article-content">
								{$content}
								</div>
								<div class="video">(<a target="_blank" title="{$keywordInfoLink.name}" href="{$keywordInfoLink.link}">{$keywordInfoLink.name}</a>)</div>
								<!--分享-->
								<div class="article-moreuse" style="margin-bottom:10px;">
								<script>share();</script>
								</div>
								<!--/分享-->
								
								<!--第二个左半幅广告开始-->	 
								<div class='desc'><script src="/view/js/650-2.js"></script></div>
								<!--第二个左半幅广告结束-->
								
								</div>
							</div>
							<div class="likepic">
								 <div class="top">
								 <h3>你可能也喜欢这些</h3>	
								 </div>
								 <div class="photo">
								 <ul class="box">
									{foreach from=$linksView1 item=v}
									<li>	<a target="_blank" href="{$v.link}" title="{$v.name}"><span>{$v.name}</span></a></li>
										{/foreach}
									
									 </ul>
								 </div>
							</div>
							<div class="cl"></div>
						</div>
						
						
						
						
					</div>

					
					
				</div>
				<div class="article-right">
					<div class="right-item">
						 <div class="title"><h3>推荐阅读</h3></div>
						 <div class="box">
							{foreach from=$linksView item=v name=keylist}
							{if $smarty.foreach.keylist.iteration<=3}
							<li><span class='a b'>{$smarty.foreach.keylist.iteration}</span><a target="_blank" href="{$v.link}" title="{$v.name}">{$v.name}</a></li>
							{else}
							<li><span class='a'>{$smarty.foreach.keylist.iteration}</span><a target="_blank" href="{$v.link}" title="{$v.name}">{$v.name}</a></li>
							 {/if}
							{/foreach}
						 </div>
					</div>
					
					<div class="right-item">
						 <div class="title"><h3>热点阅读</h3></div>
						 <div class="box">
							{foreach from=$linksView2 item=v name=keylist}
							{if $smarty.foreach.keylist.iteration<=3}
							<li><span class='a b'>{$smarty.foreach.keylist.iteration}</span><a target="_blank" href="{$v.link}" title="{$v.name}">{$v.name}</a></li>
							{else}
							<li><span class='a'>{$smarty.foreach.keylist.iteration}</span><a target="_blank" href="{$v.link}" title="{$v.name}">{$v.name}</a></li>
							 {/if}
							{/foreach}
						 </div>
					</div>


				</div>			
			</div>
		</div>
		<div class="c1 container-bottom"></div>
	</div>
	
	<!--第四个通栏广告开始-->	 
<div class="subnav" >
<div class="ad1012">
<script src="/view/js/960-2.js"></script>
</div>
</div>
<!--第四个通栏广告结束-->
 
 <!--第五个通栏广告开始-->	 
<div class="subnav" >
<div class="ad1012">
<script src="/view/js/960-4.js"></script>
</div>
</div>
<!--第五个通栏广告结束-->
	<div class="footer">
    <p class="p_1"><a href="{$siteIndex.domain}/">{$title}专题</a>|<a href="{$siteIndex.domain}">{$siteIndex.sitename}专题</a></p>
    <p class="p_2">本站为您提供 
{foreach from=$links item=v}
<a target="_blank" href="{$v.link}" title="{$v.name}">{$v.name}</a>
{/foreach}
	    
	等图片欣赏</p>
	<p class="p_2">Copyright &copy; 2014-2015 <a href="{$siteIndex.domain}" title="{$title}-{$siteIndex.sitename}">{$siteIndex.domain}</a> All Rights Reserved.   <script src='/view/js/tongji.js'></script></p>
	<p class="p_2">
	<a href="{$siteIndex.domain}" title="{$title}-{$siteIndex.sitename}">{$title}-{$siteIndex.sitename}专题网站</a></p>
<div class="footer_service">
    <p class="p_2">	<a href='{$siteIndex.domain}'>{$siteIndex.sitename}</a>,
	<a href='{$siteIndex.domain}'>{$title}</a>,
	<a href='{$siteIndex.domain}'>{$title}</a>,等相关图文均来源于互联网</p>
    <p class="p_2">本站所有图文来源于正规大型门户网站，本站不拥有版权也不承担任何相关的法律责任，如不慎侵犯了你的权益，请联系我们，我们将做适当的处理！</p></div>
</div>

<!--左右漂浮及右下角广告开始-->
<script src="/static/ccc1/js/foot.js"></script>
<!--左右漂浮及右下角广告结束-->
	

</body>
</html>