                <div  class="pinlun">
                <div  class="neiro">
                <b>[{$data.mtype}]&nbsp;<samp>{$data.username}:</samp>
                <samp>评论了<a href="#">{$data.title}</a> ({$data.pubtime|date_format:"%Y-%m-%d %T"})</samp>
                </div>
                <div class="img">
                <img src="view/images/stars5.gif" style="margin-left:10px;">
                </div>
                </div>
                <div class="pinlun">
                {$data.content}
                </div>	